.espaco-inicial {
  height: 4rem;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
  background: #232323;
  width: 100%;
  height: 100%;
}

.icone-navbar {
  width: 32px;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.csharp {
  width: 135px;
  height: 135px;
}

.html {
  width: 110px;
  height: 110px;
}
.js {
  width: 103px;
  height: 100px;
}

.css {
  width: 105px;
  height: 103px;
}

.bootstrap {
  width: 117px;
  height: 117px;
}

.ef {
  width: 117px;
  height: 117px;
}

.git {
  width: 110x;
  height: 110px;
  padding-left: 10px;
  padding-right: 17px;
}

.github {
  width: 95x;
  height: 95px;
  padding-left: 5px;
  padding-right: 13px;
}

.vs {
  width: 100px;
  height: 103px;
  padding-left: 0px;
}

.vscode {
  width: 95px;
  height: 90px;
  padding-left: 6px;
  padding-right: 5px;
}

.mysql {
  width: 120px;
  height: 103px;
  padding-left: 20px;
  padding-right: 5px;
}

.sqlserver {
  width: 135px;
  height: 100px;
  padding-left: 16px;
  padding-right: 10px;
}

.mvc {
  width: 125px;
  height: 115px;
  padding-left: 10px;
  padding-right: 5px;
}

.scrum {
  width: 130px;
  height: 115px;
  padding-left: 16px;
  padding-right: 10px;
}

.img {
  border-radius: 50%;
  width: 170px; 
  height: 170px;
}

.dados-pessoais {
  display: flex;
  align-items: center;
}

.cards {
  max-width: 50rem;
  background-color: #eee;
}

.card-border {
  border-radius: 5px;
  border-color: gray;
  border-style: dashed;
  margin: 10px;
}

.centralizar {
  text-align: center;
}

.navbar {
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  border-radius: 5px;
  width: 110px; 
  height: 55px;
  margin: 0% 43%;
}

.bg-navbar {
  background-color: #eee;
}

.a {
  color: black;
}